*{
  background-color:rgb(176, 231, 167) ;
}
h1{
  text-align: center;
}
h2{
  text-align: center;
}
li{
  list-style: none;

}

table#tabelas{
  border: 1px solid #313131;
  border-spacing: 0px;
  margin-left: auto;
  margin-right: auto;
}
table#tabelas td{
  border: 1px ridge #606060;
  padding: 10px; 
}
textarea{
  background-color: #ccc6c6;
  text-transform: uppercase;
}

.andar{
  background-color: #888888;
  text-align: center;
  font: bold;
  font-size: 15px;

}
.ap{
  background-color: #888888;
  text-align: center;
  font: bold;
  font-size: 15px;
}

button .cor:hover{
  background-color: rgb(52, 255, 1);
}